/** amine */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.weblogo {
    width: 8vw;
}
a {
    text-decoration: none;
    color: #240b57;
}
nav {
    margin-top: 2vh;
    height: 8vh;
    border-bottom: #888788 solid 1px;
}
.nav_parent {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: space-between;
    justify-content: space-around;
}
.pages {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_child2 a:hover{
    color: #6441a5;
    border-radius: 10px;
    padding: 5px;
}
.nav_buttom {
    border: 2px solid #9505dd;
    color: white;
    background-color: #6441a5;
    padding: 5px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 4vw;
}
.nav_buttom:hover {
    background-color: #c657fe;
    color: #fff;
}
.main_parent1 {
    margin-top: 40px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_child2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main_child3 {
    border: 1px solid #9505dd;
    background-color: #6441a5;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 4vw;
}
.main_child3:hover {
    margin-top: 15px;
    background-color: #c657fe;
    color: #fff;
}
.main_parent2 {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #e7daff;
}
.main_part2child_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main2_icons {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.main_part2child_2 {
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.bg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 70px;
}

.fa-trophy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.main2_icons2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

/** Hamza */
.third_section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.up-div {
    display: flex;
}

.leftside {
    width: 25vw;
    background-color: bisque;
}

.rightside {
    width: 15vw;
    height: 20vh;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fourth_section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #6441a5;
}

.stat_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: large;
}

.stat_main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.statistics {
    width: 15vw;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.statistics h1 {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.statistics p {
    font-size: x-large;
}

.statistics a {
    color: white;
}

.button_know {
    border: 1px solid #9505dd;
    background-color: #6441a5;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 4vw;
}

.button_know:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 20%);
}

.prima {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
/* icons */
.americas {
    color: #6441a5;
    font-size: 30px;
    width: 5vw;
    height: 15vh;
}
.support {
    display: flex;
    justify-content: space-between;
    width: 16vw;
    align-items: start;
}
.servers {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 20vw;
}
.feedback {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 20vw;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 30vw;
    font-family: Arial, Helvetica, sans-serif;
}
.seconda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #6441a5;
    height: 40vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
/* footer */
.signup {
    color: white;
    background-color: rgb(165, 33, 165);
    height: 5vh;
    width: 30vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.email {
    height: 5vh;
    width: 30vw;
    border: 1px solid plum;
    border-radius: 4px;
}
.card {
    display: flex;
    flex-direction: column;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #6441a5;
    color: #fff;
    height: 10Vh;
}
.footer a {
    color: white;
    margin-right: 10px;
}
.footer img {
    width: 100px;
}