
.statistics {
    width: 15vw;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.statistics h1 {
    font-size: 90px;
    font-family: monospace;
}
.statistics p {
    font-size: x-large;

.nav_buttom{
border: 2px solid #9505dd;
color: white;
background-color: #9505dd;
padding: 5px 20px;
font-size: 20px;
font-family: monospace;
cursor: pointer;
border-radius: 7px;
margin-left: 4vw;
}
.statistics a {
    color: white;
}
.button_know {

.main_parent1{
    margin-top: 40px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_child2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

.main_child3{
    border: 1px solid #9505dd;
    background-color: #9505dd;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 4vw;
}
.button_know:hover{
    box-shadow: 1px 5px 50px  rgba(0, 0, 0, 70);
}
    }
    
    .main_child3:hover{
        margin-top: 15px;
        background-color: #c657fe;
        color: #fff;
    }

    .main_parent2{
        margin-top: 40px;
        width: 100%;
        height: 90vh;
        font-family: monospace;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #dad9da;
        justify-content: space-between;
    }

    .main2_icons{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    /* .fa-bell{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #c3c3c3;
        border-radius: 70%;
        width: 20vw;
        height: 20vh;
    } */

    .main_part2child_2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bg-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color:#c9c7c7;
        border-radius: 70px;
    }

    .fa-trophy{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
    }

    .main2_icons2{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }